{{- define "main" }}

{{- if .Title }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description | markdownify }}
  </div>
  {{- end }}
</header>
{{- end }}

{{- $paginator := .Paginate .Pages }}

{{- range $paginator.Pages }}

<article class="project-entry">
  {{- $isHidden := (.Param "cover.hiddenInList") | default (.Param "cover.hidden") | default false }}
  {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" $isHidden) }}

  <header class="project-entry-header">
    <p>{{ .Params.year }}</p>
    <div class="project-entry-title">
      <h2>{{ .Title }}</h2>
      <div class="project-entry-type">{{ .Params.type }}</div>
    </div>
</header>
<div class="project-entry-content">
  <p>{{ .Params.description }}</p>
</div>
<footer class="project-entry-footer">
  <!-- Article Button -->
  {{- if .Params.article }}
  <a class="project-button" href="{{ .Params.posts }}">Related Posts</a>
  {{- end }}

  <!-- Source Button -->
  {{- if .Params.source }}
  <a class="project-button" href="{{ .Params.source }}">Source -></a>
  {{- end }}
  
  <!-- Demo/Play Button -->
  {{- if .Params.demo }}
  {{- if eq .Params.type "Game"}}
    <a class="project-button" href="{{ .Params.demo }}">Play -></a>
  {{- else }}
    <a class="project-button" href="{{ .Params.demo }}">Demo -></a>
  {{- end }}
  {{- end }}
</footer>
</article>
{{- end }}

{{- if gt $paginator.TotalPages 1 }}

<footer class="page-footer">
<nav class="pagination">
  {{- if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">◂ Previous</a>
  {{- end }}
  {{- if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL | absURL }}">Next ▸</a>
  {{- end }}
</nav>
</footer>
{{- end }}
{{- end }}