{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <div class="title-container">
        <h1 class="header-title"><a href="/">{{ site.Title }}</a></h1>
        <p class="quote"></p>
    </div>

    <div class="menu-items flex">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}
        <p class="small {{ if eq .url $currentPage.Path }} bold {{end}}">
            <a href="{{.url}}">
                {{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>